*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100vh;
}
body{
    width: 100%;
    height: auto;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}
.header{
    height: 100vh;
    width: 250px;
    min-width: 90px;
    position: fixed;
    border-right: 1px solid grey;
    background-color: #000000;
}
.header-section_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 100px;
    background-color: #000000;
}
.header-section_logo img{
    width: 150px;
    height: 40px;
}
.nav-section_opciones{
    width: 100%;
}
.opcnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0 30px;
    font-size: 1rem;
    color: white;
    background-color: #000000;
    border-radius: 5px;
}
.opcnav-text{
    display: flex;
    width: 70px;
    font-weight: 300;
}
.opcnav img{
    width: 35px;
    height: 30px;
}
.opcnav:hover{
    cursor: pointer;
    background-color: rgb(38, 37, 37);
}

.main{
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
}
.main-conjunto{
    display: flex;  
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-left: 100px;
    padding-left: 120px;
}

.container_historias{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 40vw;
    min-width: 200px;
    padding: 0 0 0 40px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
}
.container_historias::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.historia-conjunto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    color: white;
}
.historia-conjunto:hover{
    cursor: pointer;
}
.historia-circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 57px;
    margin-bottom: 5px;
    border-radius: 100px;
    background-image: linear-gradient(to left bottom, #a92dd5, #ff0099, #ff5256, #ffa407, #ebe712);
}

.historia-nombre{
    font-size: 0.8rem;
    font-weight: 100;
}

.historia-circulo img{
    height: 50px;
    width: 50px;
    border: 3px solid #000000;
    border-radius: 100px;
}

.conjunto_derecho{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    height: auto;
    padding: 40px 30px 0 0;
}
.conjunto_perfiles{
    display: flex;
    flex-direction: column;
}
.perfil-usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    color: white;
}
.datos_usuario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    font-size: 1rem;
}
.datos_usuario img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.datos_usuario img:hover{
    cursor: pointer;
}
.perfil-nombres{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nombres-usuario{
    font-size: 0.9rem;
    font-weight: 600;
}
.nombres-usuario:hover{
    cursor: pointer;
}
.nombres-nombre{
    color: rgb(141, 140, 140);
    font-size: 1rem;
}
.conjunto_perfiles a{
    text-decoration: none;
    color: #0085db;
    font-size: 0.9rem;
}
.conjunto_perfil a:hover{
    color: white;
}
.conjunto_sugerencias{
    width: 270px;
    height: auto;
    margin-top: 40px;
    color: white;
    font-size: 0.9rem;
}
.sugerencias-cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    font-weight: 600;
}
.sugerencia-p{
    color: grey;
}
.sugerencia-ver:hover{
    color: grey;
    cursor: pointer;
}
.sugerencias-perfiles{
    margin: 10px 0 0 0;
}
.perfil-contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 20px 0 5px 0;
    text-align: justify;
}
.sugerencia-perfil{
    font-weight: 600;
}
.sugerencia-perfil:hover{
    cursor: pointer;
}
.sugerencia-nombre{
    font-weight: 600;
}
.sugerencia-nombre:hover{
    cursor: pointer;
}
#seguir{
    color: #0085db;
}
#seguir:hover{
    cursor: pointer;
    color: white;
}
.perfil-contenido img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.informacion-empresa{
    margin-top: 50px;
    font-size: 0.7rem;
    color: grey;
}

.main-conjunto-publicaciones{
    position: absolute;
    top: 80px;
    right: 100px;
    width: 400px;
    height: auto;
    background-color: #0085db;
}
.publicacion-contenido{
    width: 400px;
    min-width: 200px;
    height: auto;
    margin: 0 150px 40px 0;
    color: white;
}
.contenido-cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 7px;
}
.cabecera-izquierda{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}
.cabecera-izquierda img{
    height: 50px;
    width: 50px;
}
.cabecera-izquierda img:hover{
    cursor: pointer;  
}
.nombre-publicacion{
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}
.nombre-publicacion:hover{
    cursor: pointer;
}
.fecha-publicacion{
    font-size: 0.8rem;
    color: grey;
}
.opciones-publicacion{
    font-size: 1.3rem;
    color: white;
}
.opciones-publicacion:hover{
    cursor: pointer;
}
.contenido-img{
    width: inherit;
    height: 450px;
    border-radius: 5px;
}
.contenido-reacciones-publicacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 40px;
}
.contenido-reacciones-publicacion img{
    width: 25px;
    height: 25px;
    margin: 13px 0;
}
.contenido-reacciones-publicacion img:hover{
    cursor: pointer;
}
.reacciones-publicacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 10px;
}
.reacciones-publicacion img{
    margin-right: 12px;
}

.contenido-cierre-publicacion{
    height: auto;
    font-size: 0.9rem;
}
.publicacion-likes{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 8px 0;
    font-weight: 600;
    color: white;
}
.publicacion-usuario{
    display: flex;
    justify-content: flex-start;
    width: 95%;
    margin: 10px 0;
    height: auto;
    color: white;
}
.publicacion-usuario #nombre-usuario:hover{
    cursor: pointer;
}

.comentario-usuario-publicacion{
    padding-left: 10px;
    color: white;
    font-size: 0.9rem;
}
.comentarios-publicacion{
    color: grey;
}
.comentarios-publicacion:hover{
    cursor: pointer;
}

#comentario-usuario-post{
    height: auto;
    width: 390px;
    margin-top: 10px;
    background-color: #000000;
    color: white;
    border: none;
}
#comentario-usuario-post::after{
    border: none;  
}
#comentario-usuario-publicar{
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #000000;
    color: #0095f6;
    border: none;
}
#comentario-usuario-publicar:hover{
    cursor: pointer;
}
.divisora-linea{
    display: flex;
    height: 1px;
    width: 400px;
    margin-top: 20px;
    background-color: rgb(135, 135, 135);
}